.svg-container {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 320px; /* Fixed height for consistency */
    overflow: hidden;
}

.spacerWave {
    width: 100vw;
}


/* ExperienceItem.jsx */

div.expItem {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

div.expItemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-basis: 33%;
  text-align: right;
}

div.expItemTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}