.svg-container {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 320px; /* Fixed height for consistency */
    overflow: hidden;
}

.spacerWave {
    width: 100vw;
}


/* ExperienceItem.jsx */

div.expItem {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

div.expItemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-basis: 33%;
  text-align: right;
  font-size: 19px;
  gap: 10px;
}

div.expItemTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* div.companyIcon {
    width: "52px";
    height: "52px";
    border-radius: "4px";
    margin-bottom: "4px";
    transition: background-color 1.5s ease-in-out;
} */

/* education */

div.eduItem {
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
}

div.eduItemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-basis: 40%;
  text-align: right;
  font-size: 19px;
  gap: 6px;
}

div.eduItemTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

div.eduItem {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

@media (max-width: 960px) {
  .eduSkillsScreen {
    flex-direction: column !important;
  }

  .skillsScreen {
    margin-top: -70px;
    margin-bottom: 85px;
  }
}

@media (max-width: 890px) {
  .projectButtonsScreen {
    flex-direction: column !important;
  }

  .projectButtonStyleScreen {
    margin-bottom: -10px;
  }
}