#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.overallContainer {
  /* background-color: rgba(40,75,60, 0.2); */
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  /* position: fixed;
  top: 0; */
  position: relative;
  z-index: 997;
}


div.fixerRef {
  background-color: aliceblue;
  margin: 20px 0;
}

/* experience */
 div.panelEd  {
  min-width: 72vw;
  min-height: 100vh;
  background-color: black;
  position: relative;
  /* margin: 20vh 0 0 0; */
  padding: 4vh 5vw 0 5vw;
 }

 div.expPanel {
  min-width: 65vw;
  min-height: 170vh;
  /* padding: 2vh 2vw; */
  padding: 20px;
  transition: background-color 0.15s ease-in-out;
  border-radius: 2vw;
  /* box-shadow: 0px 0px 10px 100px rgba(255, 255, 255, 1.0); */
 }

  div.wave0 {
    padding: 20px;
    /* background-color: rgb(47,47,47); */
    border-radius: 20px;
    z-index: 1000;
    min-width: 55vw;
    min-height: 150vh;
    transition: background-color 0.45s ease-in-out;
 }


 div.wave1 {
    padding: 20px;
    /* background-color: rgb(80,80,80); */
    border-radius: 20px;
    z-index: 1000;
    min-width: 50vw;
    min-height: 133vh;
    transition: background-color 0.65s ease-in-out;
 }

  div.wave2 {
    padding: 20px;
    /* background-color: rgb(120,120,120); */
    border-radius: 20px;
    z-index: 1000;
    min-width: 49vw;
    min-height: 120vh;
    transition: background-color 0.85s ease-in-out;
 }

  div.wave3 {
    padding: 20px;
    /* background-color: rgb(177, 177, 177); */
    border-radius: 20px;
    z-index: 1000;
    min-width: 43vw;
    min-height: 108vh;
    transition: background-color 1.25s ease-in-out;
 }

  div.wave4 {
    padding: 3vw 3vw 2vh 3vw;
    /* background-color: rgb(255,255,255); */
    border-radius: 20px;
    z-index: 1000;
    min-width: 37vw;
    min-height: 100vh;
    transition: background-color 1.5s ease-in-out;
 }

div.expCont {
  text-align: center;
  margin: 20px 0;
}