.overallContainer {
  /* background-color: rgba(40,75,60, 0.2); */
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  /* position: fixed;
  top: 0; */
  position: relative;
  z-index: 997;
}


div.fixerRef {
  background-color: aliceblue;
  margin: 20px 0;
}

/* experience */
div.panelEd  {
  min-width: 100%;
  /* min-height: 100vh; */
  background-color: black;
  position: relative;
  /* margin: 0vh 0 5vh 0; */
  padding: 4vh 0vw 5vh 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.expPanel {
  width: 80%;
  /* min-height: 50vh; */
  padding: 20px;
  transition: background-color 0.15s ease-in-out;
  border-radius: 20px;
  /* box-shadow: 0px 0px 10px 100px rgba(255, 255, 255, 1.0); */
  z-index: 1000;
    margin: 4vh 5vw 5vh 5vw;
}

div.wave0 {
  padding: 20px;
  /* background-color: rgb(47,47,47); */
  border-radius: 20px;
  z-index: 1000;
  width: auto;
  /* min-height: 50vh; */
  transition: background-color 0.45s ease-in-out;
}


div.wave1 {
  padding: 20px;
  /* background-color: rgb(80,80,80); */
  border-radius: 20px;
  z-index: 1000;
  width: auto;
  /* min-height: 50vh; */
  transition: background-color 0.65s ease-in-out;
}

div.wave2 {
  padding: 20px;
  /* background-color: rgb(120,120,120); */
  border-radius: 20px;
  z-index: 1000;
  width: auto;
  /* min-height: 50vh; */
  transition: background-color 0.85s ease-in-out;
}

div.wave3 {
  padding: 20px;
  /* background-color: rgb(177, 177, 177); */
  border-radius: 20px;
  z-index: 1000;
  width: auto;
  /* min-height: 50vh; */
  transition: background-color 1.25s ease-in-out;
}

div.wave4 {
  padding: 2.8vw 3vw 0.5vw 3vw;
  /* background-color: rgb(255,255,255); */
  border-radius: 20px;
  z-index: 1000;
  width: auto;
  /* min-height: 50vh; */
  transition: background-color 1.5s ease-in-out;
}

div.expCont {
  text-align: center;
  margin: 14px 0 14px 0;
}