#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.overallContainer {
  /* background-color: rgba(40,75,60, 0.2); */
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  /* position: fixed;
  top: 0; */
  position: relative;
  z-index: 997;
}

/* experience */
 div.panelEd  {
  min-width: 90vw;
  min-height: 50vh;
  background-color: rgba(40,75,60, 0.2);
  position: relative;
 }


